.carousel__container {
  max-width: $screen-lg-min;
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  .slick-dots {
    li {
      button {
        background: $primary-color !important;
      }
    }
  }
}
